<!DOCTYPE html>
<html>
    <head>
    <title>Classify a photo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        {% if response %}
          <h1>Classifier result:</h1>
            <ul id="list">
                {% for item in response %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% else %}
          <h1>Submit a photo to classify</h1>
        {% endif %}
    <form method=post enctype=multipart/form-data>
        <p><input type=file accept="image/*" name=file>
        <input type=submit value=Submit>
    </form>
    </body>
</html>
